<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Cliente</title>
</head>
<body>

    {% extends 'plantillas/app/padre.html' %}

    {% load static %}
    
    {% block contenidoQueCambia %} 

    <h1 class="display-6 text-center" style="font-size: 26px">Agregar Cliente</h1>
    <p class="display-7 text-center" style="font-size: 12">Completar con nombre y apellido    </p>
    <br>

    
    <form action="/cliente/" method="post"> 
        {% csrf_token %}
        <p> Nombre: <input type="text" name="nombre"> </p>
        <p> Apellido: <input type="text" name="apellido"> </p>
        <input type="submit" value="Enviar">
    </form>   
    
    {% endblock %}


</body>
</html>