<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'plantillas/app/padre.html' %}

    {% load static %}
    
    {% block contenidoQueCambia %} 
    
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
        <h1>Info Tienda Virtual</h1>
        <p>En el formulario de envios podrás completar los datos de domicilio para el envio de tus productos</p>
        <p>Si queres validar si estas registrado, clickea en "Busqueda"</p>
       
    
    {% endblock %}

</body>
</html>