<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Domicilio</title>
</head>
<body>

    {% extends 'plantillas/app/padre.html' %}

    {% load static %}
    
    {% block contenidoQueCambia %} 

    <h1 class="display-6 text-center" style="font-size: 26px">Agregar Domicilio</h1>
    <p class="display-7 text-center" style="font-size: 12">Ingresar nuevo domicilio    </p>
    <br>
    
    <form action="/envio/" method="post"> 
        {% csrf_token %}
        <p> Calle: <input type="text" name="calle"> </p>
        <p> Numero: <input type="text" name="numero"> </p>
        <p> Localidad: <input type="text" name="localidad"> </p>
        <input type="submit" value="Enviar">
    </form>   

    {% endblock %}

</body>
</html>