<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'plantillas/app/padre.html' %}

    {% load static %}
    
    {% block contenidoQueCambia %} 
    
    <h1>Productos</h1>

    {% for producto in object_list %}

        <li>
            <p>NOMBRE: {{ producto.producto }}</p>
            <p>
                <a href="{% url 'Detail' producto.id %}">Ver</a>
                <a href="{% url 'Edit' producto.id %}">Editar</a>
                <a href="{% url 'Delete' producto.id %}">Borrar</a>
            </p>
        </li>

    {% endfor %}
    {% endblock %}


</body>
</html>